body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

div {
    max-width: 500px;
    margin: auto;
    margin-top: 200px; 
}

p {
    text-align: center;
    text-transform: uppercase;
}
form {

    background-color: lightseagreen;
    padding: 1em;
    margin: 1em;
    width: 20em;
    
}

fieldset{
    border: white solid .1em;
    padding: 1em;
}
.text-input {
    padding: 1em;
    display: inline-block;
    width: 90%;
    margin-bottom: 1em;
}

.btn {
    background-color: aqua;
    font-size: 22px;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 1em;
    cursor: pointer;
    width: 87%;
    border: solid white 0.3em;
}

.btn:hover {
    background-color: aquamarine;

}